.header_text_color {
    color: #010101;
}

.header_background_color {
    /*background-color: #A9372F;*/
    background-image: url('../../images/img_glory/bg.jpg');
}

.headr_logo {
    height: 87px;
    width: 70px;
    margin-top: -26px;
}

.header_icon {
    height: 20px;
    width: 25px;
}
